<h2>Add A New Guitarist</h2>
<form action="new" method="POST">
	Name: 
	<input type="text" name="name" placeholder="name" /></br>
	Guitarist Pic URL:
	<input type="url" name="guitarist_url" placeholder="pic url" /></br>
	Band:
	<select name="band_id">
		<% @bands.each do |band_name| %>
			<option value="<%=band_name[:id]%>"><%=band_name[:band_name]%></option>
		<% end %>
	</select></br>
	Guitars:
	<%@guitars.each do |guitar|%>
		<input type="checkbox" name="guitar_id[]" value="<%=guitar.id%>" id="<%=guitar.id%>">
		<%=guitar.make%> <%=guitar.model%></input>
	<% end %>
		<button>Add Guitarist!</button>
</form>
